.search-form .search-form-element {
    border-radius: 100px;
    border-style: solid;
    border-width: 1px;
    height: 25px;
    padding: 5px;
    margin: 0px;
    width: 100%;
}

.search-form button {
    background-color: #BD00AA;
}

.search-form button:hover {
    background-color: #7E0072;
    box-shadow: inset;
}

