.search-form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.search-form div {
    margin: 10px;
}

.search-form .search-form-element {
    border-radius: 100px;
    border-collapse: collapse;
    border-style: solid;
    border-width: 1px;
    height: 25px;
    padding: 20px;
    margin: 0px;
    width: 100%;
}

.search-form input {
    box-sizing: border-box;
}

.search-form button {
    background-color: #BD00AA;
}

.search-form button:hover {
    background-color: #7E0072;
    box-shadow: inset;
}

